/* Init */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../images/index.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
/* End Init */
/* Header */
header
{
    width: 100%;
    height: 5%;
    background: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
}

/* Search bar & Button */
header section
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header #header_search
{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header #header_search form input:not([type="submit"])
{
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 1px;
    font-size: 0.8vw;
    outline: none;
    margin-left: 5%;
}

/* Dropdown */
header #header_results{
    width:70%;
    height: auto;
    margin-right: 150px;
    background-color: #333;
    border-radius: 5px;
    display:none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5%;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
header #header_results p{
    text-align: center;
    font-size: 1vw;
    color: white;
}
header #header_results a{
    cursor: auto;
    text-decoration: none;
}
header #header_results a .result{
    width: 100%;
    height: 30px;
    /* display: block; */
    /* align-items: center; */
    /* position: relative; */
}
header #header_results a .result p{
    color: white;
    font-size: 1vw;
    margin-left: 10px;
    cursor: context-menu;
}
header #header_results a .result:hover{
    background-color: rgb(100, 100, 100);
}
header #header_search form input[type="submit"]{
    width: 10%;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 1px;
}
header #header_search form input[type="submit"]:active{
    background-color: rgb(0, 88, 0);
}

/* Header Title */
header #header_title
{
    width: 50%;
    height: 100%;
    text-align: center;
}
header #header_title a h1
{
    padding: 0;
    margin: 0;
    color: green;
    font-size: 40px;
    letter-spacing: 5px;
}

header #header_title a
{
    text-decoration: none;
}
header #header_title a h1:hover
{
    color:rgb(0, 88, 0);
}
/* END HEADER*/
/* MAIN */
main{
    width: 100%;
    height: 95%;
}
main#index{
    display: flex;
    align-items: center;
    justify-content: center;
}
main#index #content{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main#index #content form{
    width: 50%;
    height: 20%;
    display: block;
    justify-content: center;
    align-items: center;
}

main#index #content form input:not([type="submit"]){
    width: 75%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 0.8vw;
    outline: none;
}
main#index #content form input[type="submit"]{
    width: 20%;
    height: 100%;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
main#index #content form input[type="submit"]:active{
    background-color: rgb(0, 88, 0);
}
main#index #content form #inputs{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-between;
}
main#index #content form #results{
    width: 75%;
    height: auto;
    background-color: #333;
    border-radius: 5px;
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
main#index #content form #results p{
    text-align: center;
    font-size: 1vw;
    color: white;
}
main#index #content form #results a{
    cursor: auto;
    text-decoration: none;
}
main#index #content form #results a .result{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
main#index #content form #results a .result p{
    color: white;
    font-size: 1vw;
    margin-left: 10px;
    cursor: context-menu;
}
main#index #content form #results a .result:hover{
    background-color: rgb(100, 100, 100);
}

main#search{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
main#search .results_p{
    color: rgb(187, 187, 187);
    font-size: 2vw;
}
main#search .results_p span{
    color: green;
}
main#search #content{
    width: 70%;
    height: 90%;
}

main#search #content .resultat{
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
main#search #content .resultat:hover{
    background-color: rgba(68, 68, 68, 0.404);
}

main#search #content .resultat .image{
    width: 20%;
    height: 100%;
}
main#search #content .resultat .image img{
    width: 100%;
    height: 100%;
}
main#search #content .resultat .infos{
    width: 70%;
    height: 100%;
    margin-left: 50px;
    color: white;
}
main#search #content .resultat .infos a{
    color: inherit;
    text-decoration: none;
}
main#search #content .resultat .infos a:hover{
    text-decoration: underline;
}

/* Page ELEMENT */

main #presentation
{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 5%;
    color: white;
}

main #presentation img
{
    width: 300px;
    height: 200px;
    border: 3px solid rgb(255, 255, 255);
}

main #presentation h2
{
    font-size: 30px;
    margin: 0;
    padding: 5px;
    letter-spacing: 2px;
}

main #presentation p
{
    margin: 0;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
}

/* End Page ELEMENT */
